.root-login-container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 45%;
    text-align: start;
    
    h2, h4 {
        margin: 8px 0px 8px 0px;
    }
   
    .text-field {
        margin-top: 18px;
        border-radius: 8px;
    }

    .button {
        margin-top: 24px;
        min-height: 50px;
        border-radius: 8px;
        font-weight: 500;
    }

    .email-field, .password-field {
        color : #3d4152;
        .MuiInputLabel-root{
            color: #686b78;
        }

        .MuiInputLabel-root.Mui-focused {
            color : #fc8118
        }
    }
}

