body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  height: 100vh;

  #root {
    height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Roboto',
    monospace;
}

.error-text{
  margin-top: 4px;
  color : #d53c4d
}

.alert-message{
  margin-top: 18px;
}

//Container 
.MuiContainer-root{
  padding: 0px !important; 
  margin: 0px !important;
  max-width: 100% !important;
  max-height: 100% !important;

}